html {

  }

body {
    display: flex; 
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-family: "Karla";
    min-height: 100vh;
}

h1 {
    color: #2AB3B1;
    font-size: 1.25rem;
    font-weight: 700;
}

h2 {
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 700;
}

.content-wrapper .join .guarantee {
    color: #C0DF33;
    font-size: .9375rem;
    font-weight: 700;
    line-height: 1.2rem;
}

p {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.6rem;
}

.content-wrapper {
    display: grid;
    border-radius: 5px;
    box-shadow: 5px 5px 14px 8px #9AA7BE;
    width: 310px;
}

.content-wrapper .subscription {
    background-color: #2bb3b1;
}

.content-wrapper div {
    padding: 15px 20px;
}

.content-wrapper .join p {
    color: #9AA7BE;
    font-size: .875rem;
}

div.button-wrapper {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 1.875rem;
    margin-bottom: .625rem;
}

.button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 10px #9AA7BE;
    color: white;
    padding: 14px 100px;
}

.content-wrapper .subscription h2 {
    margin-bottom: 1.4rem;
}

.content-wrapper .subscription p {
    margin: 0;
}

.content-wrapper .subscription .best-deal {
    font-size: 2rem;
    font-weight: 700;
}

.content-wrapper .why-us {
    background-color: #4abebd;
}

.content-wrapper .why-us ul {
    list-style: none;
    padding: 0;
}

.content-wrapper .why-us ul li {
    color: white;
    font-size: .875rem;
    margin-top: 4px;
}

@media (min-width: 768px) {
    body {
        
    }

   .content-wrapper {
        grid-template-columns: repeat(2, 1fr);
        width: 640px;
    }

    .content-wrapper div {
        padding: 30px 40px;
    }
    

    .content-wrapper .join {
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    .content-wrapper .join .guarantee {
        margin-bottom: .5rem;
    }

    .content-wrapper .join p {
        margin-top: .5rem;
    }

    .content-wrapper .subscription {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    div.button-wrapper {
        padding: 0;
    }

    .button {
        padding: 10px 100px;
    }

    .content-wrapper .why-us {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    h1 {
        font-size: 1.5rem;
    }

    .content-wrapper .join .guarantee {
        font-size: 1.125rem;
    }

    .content-wrapper .join p {
        font-size: 1rem;
    }
}