html {
    font-size: 16px;
  }

body {
    font-size: 1em;
    font-family: "Karla";
}

h1 {
    color: #2AB3B1;
    font-size: 1.25em;
    font-weight: 700;
}

h2 {
    color: #FFFFFF;
    font-size: 1.125em;
    font-weight: 700;
}

h3 {
    color: #C0DF33;
    font-size: .9375em;
    font-weight: 700;
}

p {
    color: #FFFFFF;
    font-size: .875em;
    font-weight: 500;
}

.content-wrapper {
    display: flex;
    align-content: center;
    flex-basis: 311px;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 10px;
}

.main {

}

.content-wrapper .main p {
    color: #9AA7BE;
}

.subscription {
    background-color: #2bb3b1;
}

.best-deal {
    font-size: 2em;
    font-weight: 700;
}

.monthfade {
    color: #9AA7BE;
}

.why-us {
    background-color: #4abebd;
}

@media (min-width 1440px) {
    body {
        height: 100vh;
    }

    .content-wrapper {
        width: 635px;
        height: 475px;
    }
}